<template>
    <article class="border rounded-lg pt-6">
        <header class="">
            <h1 class="text-xl pl-6">{{ articleTitle }}</h1>
            <slot name="description">
                <p class="pb-6"></p>
            </slot>
        </header>
        <section>
            <slot name="section"></slot>
        </section>
        <footer>
            <slot name="footer"></slot>
        </footer>
    </article>
</template>

<script>
    export default {
        props: [
            'articleTitle',
        ]
    }
</script>

<style scoped>

</style>
