<template>
    <div @click="click" class="hover:bg-gray-100 pl-6">
        <div class="flex flex-wrap items-stretch py-4 cursor-pointer">
            <slot name="container">
                <div class="self-center w-48"><p class="uppercase text-gray-750 text-xs">{{ label }}</p></div>
                <div class="flex-grow">
                    <p v-if="value">{{ value }}</p>
                    <p v-else>Click para establecer</p>
                </div>
            </slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['label', 'value'],
        methods: {
            click() {
                this.$emit('onClick', this.value);
            }
        }
    }
</script>

<style scoped>

</style>
