<template>
    <form @submit.prevent="save">
        <div class="form-group">
            <label for="tipo_sangre" class="form-label mb-1">Tipo de sangre</label>
            <div class="flex flex-wrap sm:justify-between">
                <template v-for="item in tipoSangre">
                    <template v-for="(value, key) in item">
                        <label :for="key" class="form-label mr-4 sm:mr-0">
                            <input type="radio"
                                   :name="key"
                                   :id="key"
                                   v-model="draft.tipo_sangre"
                                   :value="key"
                            >
                            {{ value }}
                        </label>
                    </template>
                </template>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="form-label mb-1">Estado civil</label>
            <div class="relative">
                <select name="estado_civil_id"
                        class="form-control"
                        v-model="draft.estado_civil_id"
                >
                    <option value="null">Seleccione...</option>
                    <option v-for="estado in estadosCiviles"
                            :value="estado.id">{{ estado.descripcion }}
                    </option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="form-label mb-1">Tiene hijos</label>
            <div class="flex">
                <label for="tiene_hijos_si" class="form-label mr-4">
                    <input type="radio"
                           name="tiene_hijos"
                           id="tiene_hijos_si"
                           v-model="draft.tiene_hijos"
                           :value="1">
                    SI
                </label>
                <label for="tiene_hijos_no" class="form-label mr-4">
                    <input type="radio"
                           name="tiene_hijos"
                           id="tiene_hijos_no"
                           v-model="draft.tiene_hijos"
                           :value="0">
                    NO
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="form-label mb-1">Número de hijos</label>
            <input type="number"
                   class="form-control"
                   v-model="draft.numero_hijos"
                   step="1"
                   min="0"
            >
        </div>
        <div class="form-group">
            <label for="" class="form-label mb-1">Puede cambiar de residencia</label>
            <div class="flex">
                <label for="puede_cambiar_residencia_si" class="form-label mr-4">
                    <input type="radio"
                           name="puede_cambiar_residencia"
                           id="puede_cambiar_residencia_si"
                           v-model="draft.puede_cambiar_residencia"
                           :value="1">
                    SI
                </label>
                <label for="puede_cambiar_residencia_no" class="form-label mr-4">
                    <input type="radio"
                           name="puede_cambiar_residencia"
                           id="puede_cambiar_residencia_no"
                           v-model="draft.puede_cambiar_residencia"
                           :value="0">
                    NO
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="form-label mb-1">Labora actualmente</label>
            <div class="flex">
                <label for="labora_actualmente_si" class="form-label mr-4">
                    <input type="radio"
                           name="labora_actualmente"
                           id="labora_actualmente_si"
                           v-model="draft.labora_actualmente"
                           :value="1">
                    SI
                </label>
                <label for="labora_actualmente_no" class="form-label mr-4">
                    <input type="radio"
                           name="labora_actualmente"
                           id="labora_actualmente_no"
                           v-model="draft.labora_actualmente"
                           :value="0">
                    NO
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="form-label mb-1">Trabajaría por honorarios</label>
            <div class="flex">
                <label for="trabaja_honorarios_si" class="form-label mr-4">
                    <input type="radio"
                           name="trabaja_honorarios"
                           id="trabaja_honorarios_si"
                           v-model="draft.trabaja_honorarios"
                           :value="1">
                    SI
                </label>
                <label for="trabaja_honorarios_no" class="form-label mr-4">
                    <input type="radio"
                           name="trabaja_honorarios"
                           id="trabaja_honorarios_no"
                           v-model="draft.trabaja_honorarios"
                           :value="0">
                    NO
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="form-label mb1">Aspiración salarial</label>
            <input type="text"
                   class="form-control"
                   v-model="draft.aspiracion_salarial"
            >
        </div>
    </form>
</template>

<script>
    import {tipoSangre} from '../../utilities/magic_numbers';

    export default {
        props: ['datos', 'id'],
        data() {
            return {
                draft: clone(this.datos),
                estadosCiviles: null,
                tipoSangre
            }
        },
        mounted() {
            axios.get(route('api.aspirantes.catalogos.estados.civiles'))
                .then(res => {
                    this.estadosCiviles = res.data.estados
                })
                .catch(err => {
                    console.log(err.response);
                })
        },
        methods: {
            save() {

            }
        }
    }
</script>

<style scoped>

</style>
