@tailwind base;

.form-group {
    @apply mb-4;
}

.form-control {
    @apply appearance-none block border border-gray-550 w-full py-2 px-3 rounded outline-none;
}

.form-control:focus {
    @apply border-2 border-blue-650;
    height: 42px !important;
}

.form-label {
    @apply inline-block text-gray-700 text-sm font-bold mb-2;
}

.is-valid {
    @apply border-red-600;
}

select.form-control {
    @apply py-3 px-4 pr-8 rounded bg-white text-gray-700;
}

select.form-control:focus {
    @apply outline-none bg-white border-blue-650;
    height: 50px !important;
}

div.invalid-feedback {
    box-sizing: border-box;
    color: #dc3545;
    display: block;
    font-size: 80%;
    margin-top: .25rem;
    width: 100%;
}

small.help-feedback {
    box-sizing: border-box;
    color: #6c757d;
    display: block;
    font-size: 80%;
    font-weight: 400;
    margin-top: .25rem;
}

.btn {
    @apply text-xs uppercase border font-bold p-2 px-4 py-2 rounded-full;
    transition-delay: 0s;
    transition-duration: .3s;
    transition-property: background;
    transition-timing-function: ease;
}

.btn-blue {
    @apply bg-blue-625 border-blue-625 text-white ;
    &:hover {
        @apply bg-blue-675;
    }
}

@screen md {

}

@tailwind components;

@tailwind utilities;
