<template>
    <div class="">
        <section class="p-3">
            <form @submit.prevent=""
                  action=""
            >
                <div class="form-group mb-0">
                    <label class="form-label mb-1" for="curp">CURP</label>
                    <input :disabled="next" @keyup.enter="getUserFromRenapo"
                           class="form-control"
                           placeholder=""
                           type="text"
                           v-model="form.curp">
                </div>
            </form>
        </section>
        <section class="m-3" v-if="ready">
            <h1 class="text-xl mb-4">Mis datos</h1>
            <div class="flex border rounded p-4 shadow">
                <div class="w-full">
                    <div class="form-group flex">
                        <label class="font-bold w-1/2">CURP:</label>
                        <span class="w-1/2">{{ curp.getCurp() }}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="font-bold w-1/2">NOMBRE COMPLETO:</label>
                        <span class="w-1/2">{{ nombreCompleto }}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="font-bold w-1/2">FECHA NACIMIENTO:</label>
                        <span class="w-1/2">{{ curp.getFechaNacimiento() }}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="font-bold w-1/2">EDAD:</label>
                        <span class="w-1/2">{{ curp.getEdad() }}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="font-bold w-1/2">SEXO:</label>
                        <span class="w-1/2">{{ curp.getSexo() }}</span>
                    </div>
                    <div class="form-group flex">
                        <label class="font-bold w-1/2">NACIONALIDAD:</label>
                        <span class="w-1/2">{{ curp.getNacionalidad().nombre }}</span>
                    </div>
                    <div class="form-group flex mb-0">
                        <label class="font-bold w-1/2">ENTIDAD NACIMIENTO:</label>
                        <span class="w-1/2">{{ curp.getEntidadNacimiento().nombre }}</span>
                    </div>
                </div>
            </div>
            <h1 class="text-xl my-4">Crear cuenta</h1>
            <div class="flex border rounded p-4 shadow">
                <form @submit.prevent="signUp" class="w-full">
                    <div class="form-group">
                        <label class="form-label mb-1" for="email">Email</label>
                        <input class="form-control"
                               name="email"
                               type="email"
                               v-model="register.email"
                        >
                    </div>
                    <div class="form-group">
                        <label class="form-label mb-1" for="password">Contraseña</label>
                        <input class="form-control"
                               name="password"
                               type="password"
                               v-model="register.password"
                        >
                    </div>
                    <div class="form-group">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                type="submit"
                        >
                            Registrarse
                        </button>

                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
    import store from '@/store/store';
    import {minLength, required} from 'vuelidate/lib/validators'
    import Curp from '../../curp';

    export default {
        name: "RegisterComponent",
        data() {
            return {
                persona: {},
                form: {
                    curp: '',
                },
                register: {
                    email: '',
                    password: ''
                },
                ready: false,
                curp: null,
                next: false
            }
        },
        validations: {
            form: {
                curp: {
                    required,
                    minLength: minLength(18)
                }
            }
        },
        methods: {
            getUserFromRenapo() {
                this.ready = false;
                this.curp = new Curp(this.form.curp);
                this.curp.searchInRenapo()
                    .then(res => {
                        this.persona = this.curp._persona;
                        this.ready = true;
                    })
                    .catch(err => {
                        this.ready = true;
                    });
            },
            signUp() {
                let payload = {
                    nombre: this.persona.nombres,
                    primer_apellido: this.persona.apellido1,
                    segundo_apellido: this.persona.apellido2,
                    email: this.register.email,
                    password: this.register.password,
                    curp: this.persona.CURP
                };
                store.dispatch('auth/register', payload)
                    .then(res => {
                        this.$router.push({name: 'profile'});
                    })
                    .catch(err => {

                    })
            }
        },
        computed: {
            nombreCompleto() {
                return `${this.persona.nombres} ${this.persona.apellido1} ${this.persona.apellido2}`
            }
        }
    }
</script>

<style scoped>

</style>
