<template>
    <div id="app">
        <header-component></header-component>
        <main class="pb-10">
            <div class="flex">
                <aside class="w-64 flex-no-shrink hidden md:block">
                    <div class="mb-10 pl-4">
                        <menu-component></menu-component>
                    </div>
                </aside>
                <div class="container primary flex-1 px-4 pt-2 md:pl-0">
                    <router-view></router-view>
                </div>
            </div>
        </main>
        <footer></footer>
    </div>
</template>

<script>
    import store from '@/store/store';

    import MenuComponent from './MenuComponent';
    import HeaderComponent from './HeaderComponent';

    export default {
        el: '#app',
        components: {
            MenuComponent,
            HeaderComponent
        },
        computed: {
            checkLogin() {
                return store.getters['auth/check'];
            }
        }
    }
</script>

<style scoped>

</style>
