<template>
    <div class="flex p-4 border-b mb-4 shadow">
        <div class="flex-grow">
            <img alt="Gobierno del Estado de Quintana Roo - SEQ"
                 src="https://paenms.seq.gob.mx/img/secretaria-seq.png"
                 style="max-width: 10rem;"
            >
        </div>
        <div class="self-center">
            <button @click="show" class="block md:hidden">
                <i class="fas fa-bars"></i>
            </button>
            <modal :classes="'bg-white rounded-none shadow'"
                   :pivotY="0"
                   :width="'100%'"
                   name="hello-world"
            >
                <div class="flex p-4">
                    <div class="flex-grow">
                        <menu-component></menu-component>
                    </div>
                    <div>
                        <button @click="hide">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </modal>
        </div>
    </div>
</template>

<script>
    import MenuComponent from './MenuComponent';

    export default {
        name: "HeaderComponent",
        components: {
            MenuComponent
        },
        methods: {
            show() {
                this.$modal.show('hello-world');
            },
            hide() {
                this.$modal.hide('hello-world');
            }
        }
    }
</script>

<style scoped>

</style>
