<template>
    <div>
        <ul class="list-reset">
            <li class="text-sm leading-loose">
                <router-link :active-class="'font-bold'"
                             :to="{name: 'profile'}"
                >
                    Información personal
                </router-link>
            </li>
            <li class="text-sm leading-loose">
                <a class="text-black" href="#!">Convocatorias</a>
            </li>
            <li class="text-sm leading-loose">
                <a class="text-black" href="#!">Mis convocatorias</a>
            </li>
            <li class="text-sm leading-loose">
                <a class="text-black" href="#!">Mensajes</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "MenuComponent"
    }
</script>

<style scoped>

</style>
