<template>
    <div>
        <ul class="flex flex-wrap">
            <li class="w-full md:w-1/2">
                <span class="font-bold">CURP</span>
            </li>
            <li class="w-full mb-3 md:w-1/2">
                <span class="">{{ datosGenerales.curp }}</span>
            </li>
            <li class="w-full md:w-1/2">
                <span class="font-bold">RFC</span>
            </li>
            <li class="w-full md:w-1/2">{{ datosGenerales.rfc ? datosGenerales.rfc : 'Sin dato' }}</li>
        </ul>
    </div>
</template>

<script>
    import store from '@/store/store';

    export default {
        name: "Generales",
        computed: {
            datosGenerales() {
                return store.getters['aspirante/getDatos'];
            }
        }
    }
</script>

<style scoped>

</style>
