<template>
    <div class="max-w-4xl">
        <h1 class="text-center lato text-3xl mb-4">Información personal</h1>
        <section class="">
            <article-component :article-title="'Datos personales'">
                <template slot="description">
                    <p class="pl-6 pb-6 text-sm text-gray-750">Tus datos personales no se pueden modificar por que son obtenidos del RENAPO</p>
                </template>
                <template slot="section">
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'nombre'"
                               :value="user.nombre"
                    >
                    </datos-row>
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'curp'"
                               :value="datosGenerales.curp"
                    >
                    </datos-row>
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'fecha nacimiento'"
                               :value="fechaNac"
                    >
                    </datos-row>
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'entidad de nacimiento'"
                               :value="datosGenerales.entidad_nacimiento"
                    >
                    </datos-row>
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'sexo'"
                               :value="datosGenerales.sexo"
                    >
                    </datos-row>
                </template>
            </article-component>
            <p class="py-4"></p>
            <article-component :article-title="'RFC'">
                <template slot="section">

                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'rfc'"
                               :value="datosGenerales.rfc"
                               @onClick="showModalRfc"
                    >
                        <slot slot-scope="slotProps" template="container">
                            <div class="self-center w-40"><p class="uppercase text-gray-750 text-xs">{{ slotProps.label }}</p></div>
                            <div class="flex-grow">
                                <p>{{ slotProps.value }}</p>
                            </div>
                        </slot>
                    </datos-row>
                </template>
            </article-component>
            <p class="py-4"></p>
            <article-component :article-title="'Datos generales'">
                <template slot="descripcion">
                    <p class="pl-6 pb-6 text-sm text-gray-750">Verifica bien que tus datos estén correctos</p>
                </template>
                <template slot="section">
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <datos-row :label="'estado civil'"
                               :value="datosGenerales.estado_civil_id"
                    ></datos-row>
                    <div class="pl-6">
                        <div class="border-b"></div>
                    </div>
                    <div class="form-group pl-6 pt-6">
                        <button class="btn btn-blue">editar información</button>
                    </div>
                </template>
            </article-component>
        </section>

        <datos-form :datos="datosGenerales" :id="datosGenerales.id"></datos-form>

        <modal :classes="'bg-white rounded-none shadow'"
               :pivotY="1"
               :width="'100%'"
               height="auto"
               name="update-rfc"
        >
            <div class="container mx-auto p-10">
                <h1 class="text-xl mb-4">Actualizar RFC</h1>
                <form @submit.prevent="updateRFC">
                    <div class="form-group mb-0">
                        <label class="form-label mb-1" for="curp">RFC:</label>
                        <input class="form-control"
                               placeholder="Ingresa tu RFC"
                               type="text"
                               v-model="rfc"
                        >
                    </div>
                </form>
            </div>
        </modal>
    </div>
</template>

<script>
    import ArticleComponent from '@/components/aspirantes/ArticleComponent'
    import DatosForm from '@/components/aspirantes/DatosGeneralesForm'
    import DatosRow from '@/components/aspirantes/DatosRowComponent'
    import store from '@/store/store'

    export default {
        components: {
            ArticleComponent,
            DatosForm,
            DatosRow
        },
        data() {
            return {
                rfc: null,
            }
        },
        computed: {
            user() {
                return store.getters['auth/user'];
            },
            datosGenerales() {
                return store.getters['aspirante/datosGenerales']
            },
            fechaNac() {
                return moment(this.datosGenerales.fecha_nacimiento).locale('es').format('D [de] MMMM [de] YYYY')
            }
        },
        methods: {
            showModalRfc(rfc) {
                this.rfc = rfc;
                this.$modal.show('update-rfc');
            },
            updateRFC() {
                let rfc = this.rfc;
                let id = this.datosGenerales.id;
                store.dispatch('aspirante/updateRfc', {id, rfc})
                    .then(res => {
                        console.log(res);
                    })
                    .catch(err => {
                        console.log(err);
                    });

            }
        }
    }
</script>

<style scoped>

</style>
